<div (click)="beginEdit(value)" (focus)="beginEdit(value)" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <div *ngIf="editing">
    <input [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="value" [placeholder]="label" />
  </div>
  <div *ngIf="!editing">
    <span href="#" tabindex="0">{{value}}</span>
    &nbsp;
    <span [hidden]="!showEditIcon">
      <span class="icon is-small"><a><i class="material-icons" style="font-size:1em;">edit</i></a></span>
    </span>
  </div>
</div>