<h1 class="title">
  All Ordered Items
</h1>
<div class="container">
  <table class="table is-fullwidth">
    <tr>
      <th>Date</th>
      <th>Teacher</th>
      <th>Item</th>
      <th>Units Taken</th>
      <th>Units Allowed</th>
      <th>Quantity Per Unit</th>
      <th>Total Taken</th>
      <th>Total Units Taken</th>
      <th></th>
    </tr>
    <tr *ngFor="let order_item of order_items; let i = index">
      <td>{{order_item.order.shopping_date | date}}</td>
      <td>{{order_item.order.teacher.first_name}} {{ order_item.order.teacher.last_name}}</td>
      <td>{{order_item.item.name}}</td>
      <td>
        <app-inline-edit [(ngModel)]="order_item.units_taken" [onChange]="updateOrderItem(i, 'units_taken')">
        </app-inline-edit>
      </td>
      <td>{{order_item.item.max_units}}</td>
      <td>{{order_item.item.qty_per_unit}}</td>
      <td>{{order_item.item.qty_per_unit * order_item.units_taken}} {{order_item.item.unit_label_name}}</td>
      <td>{{order_item.item.qty_per_unit * order_item.units_taken * order_item.item.max_units}} Total Units</td>
      <td><button class=" button is-danger" (click)="deleteOrderItem(order_item)">delete</button>
      </td>
    </tr>
  </table>
</div>