<h1 class="title">
  Create Teacher
</h1>
<form (ngSubmit)="onSubmit()" #itemForm="ngForm">
  <div class="field">
    <label class="label">First Name</label>
    <div class="control">
      <input id="first_name" class="input" type="text" placeholder="Master" required
        [(ngModel)]="new_teacher.first_name" name="first_name">
    </div>
  </div>

  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <input id="last_name" class="input" type="text" placeholder="ShiFu" required [(ngModel)]="new_teacher.last_name"
        name="last_name">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input id="email" class="input" type="text" placeholder="shifu@dreamworks.com" required
        [(ngModel)]="new_teacher.email" name="email">
    </div>
  </div>

  <div class="field">
    <label class="label">Phone Number</label>
    <div class="control">
      <input id="phone" class="input" type="text" placeholder="412 922 6500" required [(ngModel)]="new_teacher.phone"
        name="phone">
    </div>
  </div>

  <div class="control">
    <button type="submit" class="button is-primary">Create Teacher</button>
  </div>
  <!-- TODO: add field to associate with school -->
</form>