<button class="button" (click)="alerterLast()">Export Since Last<br><p>Last Export: <span *ngIf="mostRecent">{{mostRecent.checkout_time | date : 'medium'}}</span><span
    *ngIf="!mostRecent">None</span></p></button><br>
<button class="button" (click)="exportAll()">Export Whole Year</button>

<br>
<button class="button" (click)="resetUploaded()">Reset</button>

<div id = "csvwarning">
    <h4>
        Clicking either export button will mark all orders as exported, even if you do not save the csv. If you clicked cancel
        and wish to undo this change, please click the button below.
    </h4>
</div>
