<div *ngIf="val_pass && val_pass.digest" id="password">
  <p>Current: {{ getPwd(val_pass) }}</p>
</div>
<div *ngIf="!val_pass.digest" id="password">
  No passwords set yet!
</div>

<div id="changer2" [hidden]="shouldShowChange">
  <button type="button" class="button" (click)="toggleShowChange()">Change Password</button>
</div>

<div id="changer" [hidden]="!shouldShowChange">
  <label class="label">New Password:</label>
  <input class="input" type="text" [(ngModel)]="new_pwd">
  <br><br>
  <button class="button" (click)="submitPassword()">Update Password</button>
</div>
<br>

<div [hidden]="shouldShowChange">
  <button class="button" (click)="randomPwd()">Generate Random Password</button>
</div>


<!-- (click)="toggleShowCreate() -->
<!-- <br>
<label class="label">New Password:</label>
<input class="input" type="text" [(ngModel)]="new_pwd">
<button class="button" (click)="submitPassword()">Update Password</button> -->