input[type=text] {
  float: right;
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../../assets/search_icon.png");
  background-position: 5px 4px; 
  background-repeat: no-repeat;
  padding: 8px 20px 8px 35px;
}
  
button.is-info{
  background-color: #489AD8;
}

td.first-name {
  color: #0000EE;
  text-decoration: underline;
  cursor: pointer;
}