input[type=text] {
  float: right;
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../../assets/search_icon.png");
  background-position: 5px 4px; 
  background-repeat: no-repeat;
  padding: 8px 20px 8px 35px;
}
  
#creator {
  max-width: 400px;
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -35%);
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 25px;
  padding-bottom: 25px;
}

#undo{
  position: float;
  margin-top: -36px;
  margin-left: 214px;
}
button.is-info{
  background-color: #489AD8;
}

td.first-name {
  color: #33aaff;
  /* text-decoration: underline; */
  cursor: pointer;
}