<h1 class="title">All Teachers</h1>
<div class="container">
  <div *ngIf="is_loading">
    <a class="button is-loading">Loading</a>
  </div>

  <div *ngIf="!is_loading">
    <button class="button is-info" (click)="openDialog()">New Teacher</button>
    <input type="text" [(ngModel)]="searchText" placeholder="Search Teachers...">
    <table class="table is-hoverable is-fullwidth">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>School</th>
        <th>Active</th>
        <th>Visits</th>
      </tr>
      <tr *ngFor="let teacher of teachers | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }"
        routerLink="/teachers/{{teacher.id}}">
        <td>
          {{ teacher.first_name }}
        </td>
        <td>
          {{ teacher.last_name}}
        </td>
        <td>
          {{ teacher.email}}
        </td>
        <td>
          {{ phonePipe.transform(teacher.phone)}}
        </td>
        <td>
          {{ teacher.address}}
        </td>
        <td> {{ teacher.school.name }} </td>
        <td>
          {{ activePipe.transform(teacher.active)}}
        </td>
        <td [ngClass]="{'is-danger': teacher.orders.length > 2}">
          {{ teacher.orders.length }}
        </td>
      </tr>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>