<div *ngIf="teacher">
  <h1 class="title">{{teacher.first_name }}'s Details</h1>
  <div>
    <div><span>id: </span>{{teacher.id}}</div>
    <div><span>School: {{ teacher.school.name }}</span></div>
    <label>First Name:<input [(ngModel)]="teacher.first_name" placeholder="Cat"/></label><br>
    <label>Last Name:<input [(ngModel)]="teacher.last_name" placeholder="Price"/></label><br>
    <label>Email:<input [(ngModel)]="teacher.email" placeholder="cprce@example.com"/></label><br>
    <label>Phone Number:<input [(ngModel)]="teacher.phone" placeholder="4128888888"/></label><br>
    <label>Active:<input [(ngModel)]="teacher.active" placeholder="false"/></label>
  </div>
  <button class="button is-info" (click)="goBack()">Go Back</button>
</div>