input {
  display: inline-block;
  position: relative;
  width: 20em;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

label{
  width: 55%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 18px;
}

button.button{
  margin-top:30px;
  color: white;
  background-color: #489AD8;
}

span{
  width: 15em;
  margin-right: .5em;
  padding: 10px;
  font-size: 18px;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  background-color: #CAD5E3;
  width: 62%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 780px) {
  .column {
    width: 100%;
  }
}