<h1 class="title">
  Items
</h1>
<div>
  <button class="button is-info" (click)="toggleShowCreate()">New Item</button>
  <table class="table is-hoverable is-fullwidth">
    <tr>
      <th>Name</th>
      <th>Label Name</th>
      <th>Max Units</th>
      <th>Quantity Per Unit</th>
      <th>Active</th>
    </tr>
    <tr *ngFor="let item of items" [class.selected]="item === selectedItem" (click)="onSelect(item)">
      <td> {{ item.name }} </td>
      <td> {{ item.unit_label_name }} </td>
      <td> {{ item.max_units }} </td>
      <td> {{ item.qty_per_unit }} </td>
      <td> {{ item.active }} </td>
    </tr>
  </table>
  <app-item-detail [item]="selectedItem"></app-item-detail>
  <div [hidden]="!shouldShowCreate">
    <app-item-create (itemChange)="onNewItem($event)"></app-item-create>
  </div>
</div>