h1 {
  text-align: center;
}

.section {
  color: black;
  font-size: 20px;
  max-width: 400px;
  margin: 0 auto;
}
h
div.field {
  max-width: 400px;
  margin: 0 auto;
  padding: 7px;
}

div.field.section{
  padding-top: 50px;
}

#success{
  max-width: 500px;
  margin: 0 auto; 

}

#checker{
  background-color: white;

}

button.button.is-primary{
  background-color: #489AD8;
}

div.columns{
  text-indent: 10px;
}

div.has-text-centered{
  padding: 35px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.divider{
  width:25px;
  height:auto;
  display:inline-block;
}

div.text.section{
  background-color: #FEEED6;
  color: black;
  font-size: 20px;
  max-width: 400px;
  margin: 0 auto;
}

h3{
  text-align: center;
}

div.order-items{
  max-width: 400px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  min-width: 350px;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 0 auto;
  min-width: 350px;
}

select.item-dropdown {
  width: 200px;
}

ng-select {
  display: block;
  margin-left: 10%;
  width: 80%;
}

label.item-label {
  font-size: 20px;
  font-weight: bold;
}

label.label {
  margin-left: 10%;
}

#required:after{
  content:" *" ;
  color:red   
}

p {
  text-align: center;
  margin-top: 15px;
}

input[type=text] {
  display: block;
  margin-bottom: 5px;
  width: 80%;
  margin: 0 auto;
}

input[type=email] {
  display: block;
  margin-bottom: 5px;
  width: 80%;
  margin: 0 auto;
}

input[type=password] {
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  p {
    color: red;
  }

  select.item-dropdown {
    width: 175px;
  }

}

.tip {
  padding-left:10px;
  padding-right:10px;
}