h1 {
  text-align: center;
  margin-bottom: 50px;
}

/* .section {
  background-color: #FEEED6;
  color: black;
  font-size: 20px;
  max-width: 400px;
  margin: 0 auto;
} */

div.field {
  max-width: 400px;
  margin: 0 auto;
  padding: 7px;
}

div.field.section{
  padding-top: 50px;
}

#success{
  max-width: 500px;
  margin: 0 auto; 

}

#checker{
  background-color: white;

}

button.button.is-primary{
  background-color: #489AD8;
}

button.back {
  /* background-image: url("../../assets/blue-back2.png");
  background-position: 10px; 
  background-repeat: no-repeat; */
  /* padding: 7px 20px 8px 35px; */
  color: #489AD8;
  border-color: #489AD8;
}

div.columns{
  text-indent: 10px;
}

div.has-text-centered{
  padding: 35px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.divider{
  width:100px;
  height:auto;
  display:inline-block;
}

div.text.section{
  background-color: #FEEED6;
  color: black;
  font-size: 20px;
  max-width: 400px;
  margin: 0 auto;
}

h3{
  text-align: center;
}

div.order-items{
  /* background-color: #CAD5E3; */
  max-width: 400px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  min-width: 400px;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 0 auto;
  min-width: 400px;
}

.orange-card {
  /* background-color: #FEEED6; */
  box-shadow: 0 4px 8px 0 rgb(255, 0, 0);
  transition: 0.3s;
  width: 40%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  min-width: 400px;
  /* border-style: solid;
  border-color: red;
  border-width: 5px; */
}

select.item-dropdown {
  width: 200px;
}

label.item-label {
  font-size: 20px;
  font-weight: bold;
}