<h1 class="title">All Checkouts</h1>
<div *ngIf="is_loading">
  <a class="button is-loading">Loading</a>
</div>
<div *ngIf="!is_loading">
  <table class="table is-hoverable is-fullwidth">
    <tr>
      <th>Checkout Time</th>
      <th>Teacher</th>
      <th>Uploaded</th>
      <th>Waiver</th>
    </tr>
    <tr *ngFor="let order of orders | paginate: { itemsPerPage: 10, currentPage: p}"
      routerLink="/checkouts/{{order.id}}">
      <td> {{ order.checkout_time | date : 'medium' }} </td>
      <td> {{ order.teacher.first_name }} {{ order.teacher.last_name}}</td>
      <td> {{ activePipe.transform(order.uploaded) }} </td>
      <td> <a href="{{ order.waiver.file }}" target="_blank">View</a> </td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>