
label {
  font-size: 18px;
}

button.back {
  /* background-image: url("../../assets/blue-back2.png");
  background-position: 10px; 
  background-repeat: no-repeat; */
  /* padding: 7px 20px 8px 35px; */
  color: #489AD8;
  border-color: #489AD8;
  margin-top: 15px;
}

.column {
  float: left;
  /* width: 30%; */
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  /* width: 62%; */
  /* margin: 0 auto; */
  /* border-radius: 5px; */
  font-size: 24px;
  font-weight: bold;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  height: 420px;
}

.table__wrapper {
  max-height: 400px;
  height: 100%;
}

table {
  width: 90%;
  display: block;
  max-height: 325px;
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

span{
  width: 15em;
  margin-right: .5em;
  padding: 10px;
  font-size: 18px;
}


#display-table{
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  color: black;
  background-color: #E5E5E5;
  display: block;
  overflow: scroll;
  max-height: 450px;
}

tr:nth-child(even) {
  background-color: #E5E5E5
}

thead {
  background-color: #E5E5E5;
}

#text {
  display: block;
  width: 90%;
  margin: 0 auto;
}


/* name text */
td {
  padding-left: 15px;
  font-size: 14px;
  /* height: 65px; */
  vertical-align: middle;
  /* width: 100%; */
}

/* title text */
th {
  font-size: 16px;
}