<div *ngIf="order">
  <h1>{{order.id}} Details</h1>
  <div><span>id: </span>{{order.id}}</div>
  <div>
    <label>Date:
        <input [(ngModel)]="order.shopping_date" placeholder="4/26/1954"/>
    </label>
    <label>Teacher:
        <input [(ngModel)]="order.teacher.first_name" placeholder="Units"/>
    </label>
    <label>Uploaded:
        <input [(ngModel)]="order.uploaded" placeholder="no"/>
    </label>
    <label>Waiver Signed:
        <input [(ngModel)]="order.waiver_signed" placeholder="no"/>
    </label>
  </div>
</div>