<div *ngIf="orderDetail">
  <h1 class="title">Order Details</h1>
  <div class="row">
    <div class="column">
      <h3>Details</h3><br>
      <label>Date:<input [(ngModel)]="orderDetail.shopping_date" placeholder="4/26/1954"/></label><br>
      <label>Teacher:<input [(ngModel)]="orderDetail.teacher.first_name" placeholder="Units"/></label><br>
      <label>Uploaded:<input [(ngModel)]="orderDetail.uploaded" placeholder="no"/></label><br>
      <label>Waiver Signed:<input [(ngModel)]="orderDetail.waiver_signed" placeholder="no"/></label>
    </div>
    <div class="column">
      <h3>Order Items</h3><br>
      <table class="table is-hoverable is-fullwidth">
        <tr>
          <th>Item</th>
          <th>Units Taken</th>
        </tr>
        <tr *ngFor="let items of orderDetail.order_items">
          <td> {{ items.item.name }} </td>
          <td> {{ items.units_taken }} </td>
        </tr>
      </table>
    </div>
  </div>
  <button class="button is-info" (click)="goBack()">go back</button>
</div>
