<div *ngIf="orderDetail">
  <h1 class="title">{{orderDetail.teacher.first_name}} {{orderDetail.teacher.last_name}}'s order from {{orderDetail.checkout_time | date }}</h1>
  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Order Information</h3>
        <br>
        <label><h4><b>Checkout Time:</b><br>{{orderDetail.checkout_time | date: "medium"}}</h4></label>
        <br>
        <label><h4><b>Exported for Salesforce:</b><br>{{orderDetail.uploaded}}</h4></label>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Order Items</h3><br>
        <table class="table is-hoverable is-fullwidth">
          <tr>
            <th>Item</th>
            <th>Units Taken</th>
          </tr>
          <tr *ngFor="let items of orderDetail.order_items">
            <td> {{ items.item.name }} </td>
            <td> {{ items.units_taken }} </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <button class="back button is-medium" (click)="goBack()">Back</button>
</div>
