input {
  position: relative;
  top: 0em;
  width: 50%;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

label {
  font-size: 18px;
}

button.button{
  margin-top:30px;
  color: white;
  background-color: #489AD8;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  width: 62%;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 420px;
}

.table__wrapper {
  max-height: 400px;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}