<h2 class="title">Import Teacher or School CSV</h2>
<div class="field is-grouped">
  <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="button is-primary"
    (change)="fileChangeListener($event)" accept=".csv" value={{selectedImageFile}} />
  <input type="button" name="Reset" id="txtFileReset" class="button is-danger" (click)="fileReset()" value="Reset" />
</div>

<div *ngIf="csvRecords.length > 0">
  <button class="button" (click)="uploadTeachers()">Upload Teachers</button>
  <button class="button" (click)="uploadSchools()">Upload Schools</button>
  <h3 class="title">Preview</h3>
  <table class="table table-responsive table-hover">
    <tbody>
      <ng-container *ngFor="let csvRec of csvRecords | slice:0:10;let i=index">
        <tr>
          <ng-container *ngFor="let data of csvRec;let j=index">
            <td>{{data}}</td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>