<h2 class="title">Import Teacher or School CSV</h2>
<b>Instructions:</b> Do not include a header row. Schools should be a csv of just school names, one per line:
<br>
<div class="notification">
  <p>Carnegie Mellon University</p>
  <p>University of Pittsburgh</p>
</div>
Teachers should be a csv of: first name,last name,email,phone,address,school. Phone and address are optional, and
can be left blank (but school should always be in the sixth column). School needs to match a school's namel in the
system, and you'll be allowed to select schools to match once you choose a file.
<br>
<div class="notification">
  <p>John,Doe,example@gmail.com,4121234567,,Carnegie Mellon University</p>
  <p>Jane,Doe,blahblah@gmail.com,4128888888,1234 Forbes Ave,University of Pittsburgh</p>
</div>
<div class="field is-grouped">
  <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="button"
    (change)="fileChangeListener($event)" accept=".csv" value={{selectedImageFile}} />
  <div *ngIf="csvRecords.length > 0">
    <input type="button" name="Reset" id="txtFileReset" class="button is-danger" (click)="fileReset()" value="Reset" />
  </div>
</div>

<div *ngIf="!isEmptyCSV()">
  <div *ngIf="isTeacherCSV()">
    <button [disabled]="!teachersAreValid()" class="button is-link" (click)="uploadTeachers()">Upload Teachers</button>
    <br>
    <br>
  </div>
  <div *ngIf="isSchoolCSV()">
    <button [disabled]="!schoolsAreValid()" class="button is-link" (click)="uploadSchools()">Upload Schools</button>
    <br>
    <br>
  </div>
  <h3 class="title">Preview</h3>
  <div *ngIf="!isEmptyCSV() && !isSchoolCSV() && !isTeacherCSV()">
    <div class="notification is-danger">CSV format does not match schools or
      teachers. School csv's have one column with their name, and Teacher csv's have first name, last name, email,
      phone,
      address, and school (school must already exist in the system).
    </div>
    <table class="table is-bordered is-striped is-hoverable">
      <tr *ngFor="let csvRec of csvRecords">
        <td *ngFor="let data of csvRec">
          {{data}}
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="isSchoolCSV()">
    <table class="table is-striped is-bordered is-hoverable">
      <thead>
        <td>Name</td>
      </thead>
      <tbody>
        <tr *ngFor="let school_row of csvRecords; let i = index">
          <td [ngClass]="{'is-danger': !schoolIsValid(school_row) }">{{school_row[0]}}</td>
          <td>
            <a (click)="deleteRecord(i)"><span class="file-icon">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="isTeacherCSV()">
    <table class="table is-striped is-bordered is-hoverable">
      <thead>
        <td>Duplicate?</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Address</td>
        <td>School</td>
      </thead>
      <tbody>
        <tr *ngFor="let teacher_row of csvRecords;let i=index">
          <td [ngClass]="{'is-danger': !teacherIsUnique(i)}">
            &nbsp;
          </td>
          <td>
            {{ teacher_row[0]}}
          </td>
          <td>
            {{ teacher_row[1]}}
          </td>
          <td [ngClass]="{'is-danger': !teacherEmailIsValid(i)}">
            {{ teacher_row[2]}}
          </td>
          <td>
            {{ teacher_row[3]}}
          </td>
          <td>
            {{ teacher_row[4]}}
          </td>
          <td *ngIf="!teacherSchoolIsValid(i)" class="is-danger school-field">
            <ng-select [items]="schools" [selectOnTab]="true" bindLabel="name" (change)="changeTeacher(i, $event)">
            </ng-select>
            {{ teacher_row[5]}}
          </td>
          <td *ngIf="teacherSchoolIsValid(i)" class="school-field">
            <ng-select *ngIf="teacherIsEdited(i)" [items]="schools" [selectOnTab]="true" bindLabel="name"
              (change)="changeTeacher(i, $event)">
            </ng-select>
            <span *ngIf="teacherIsEdited(i)">original (invalid): {{ orig_schools[i]}}</span>
            <br>
            <span *ngIf="teacherIsEdited(i)">now: {{teacher_row[5]}}</span>
          </td>
          <td>
            <a (click)="deleteRecord(i)"><span class="file-icon">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>