<h1 class="title">Waiver:</h1>
<p>Last Upload: <span *ngIf="mostRecentUpload">{{ mostRecentUpload.uploaded_date | date }}:
    {{formatFileName(mostRecentUpload.file)}}</span><span *ngIf="!mostRecentUpload">None</span></p><br>
<div class="file">
  <label class="file-label">
    <!-- <input class="file-input" type="file" name="resume"> -->
    <input type="file" class="file-input" id="file" name="file" (change)="handleFileInput($event.target.files)">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a waiver file (pdf)
      </span>
    </span>
    <div *ngIf="fileToUpload">
      <span class="file-name">
        {{fileToUpload.name}}
      </span>
    </div>
  </label>
</div>
<div *ngIf="fileToUpload">
  <div *ngIf="isPdf()">

    <!-- <button class="button is-primary" (click)="uploadToS3()">Upload</button> -->
    <button class="button is-primary" (click)="uploadFile()">Upload</button>
    <!-- <button class="button is-primary" (click)="uploadDirect()">Upload</button> -->
  </div>
  <div *ngIf="!isPdf()">
    <div class="notification is-danger">File must be a pdf!</div>
  </div>
</div>