<h1 class="title">
  Schools
</h1>
<div>
  <button class="button is-info" (click)="toggleShowCreate()">New School</button>
  <input type="text" [(ngModel)]="searchText" placeholder="Search Schools...">
  <table class="table is-hoverable is-fullwidth">
    <tr>
      <th>Name</th>
      <th>Active</th>
    </tr>
    <tr *ngFor="let school of schools | filter : searchText;">
      <td> {{ school.name }} </td>
      <td> {{ school.active }} </td>
    </tr>
  </table>
  <div id = "creator" [hidden]="!shouldShowCreate">
    <app-school-create (schoolChange)="onNewSchool($event)"></app-school-create>
    <div id = "undo">
      <button type= "button" class = "button is-danger" (click)="toggleShowCreate()">Cancel</button>
    </div>
  </div>
</div>
