<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="../assets/tep_logo.png" class = "leftlogo"/>
      <img src="../assets/shopping_cart.png" class = "rightlogo"/>
    </a>
  </div>
  <a [routerLink]="'/items'" class="navbar-item"> Items </a>
  <a [routerLink]="'/teachers'" class="navbar-item"> Teachers </a>
  <a [routerLink]="'/orders'" class="navbar-item"> Orders </a>
  <a [routerLink]="'/order-items'" class="navbar-item"> All Ordered Items </a>
  <a [routerLink]="'/schools'" class="navbar-item"> Schools </a>


  <a class="navbar-logout"> Logout </a>

</nav>
<section class="section">
  <div class="container">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
<div class="footer">
  <p>© 2019 The Education Partnership. All Rights Reserved.</p>
</div>
