.navbar {
    background-color: #494949;
}

a {
    color: white;
    font-size: 20px;
  }  

a.footer-link {
    color: #8D8D8D;
    font-size: 14px;
}  

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #494949;
    padding: 20px 0px;
    color: #8D8D8D;
    font-size: 14px;
    text-align: center;
}