.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #494949;
    padding: 5px 0;
  }
  
.header-items {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, auto);
    align-items: center;
    justify-items: center;
}

.header a {
    color: white;
    font-size: 20px;
}

.section {
    padding-top: 100px;
}

.header a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #EC9C2E;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.header a:hover:after { transform: scaleX(1); }

@media screen and (max-width: 650px) {
    .header {
        padding: 15px 0;
    }

    .header-items {
        grid-template-columns: repeat(4, auto);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #494949;
    padding: 20px 0px;
    color: #8D8D8D;
    font-size: 10px;
    text-align: center;
}

a.footer-link {
    color: #8D8D8D;
    font-size: 14px;
}  