<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="../assets/tep_logo.png" />
    </a>
  </div>
  <a [routerLink]="'/items'" class="navbar-item"> Items </a>
  <a [routerLink]="'/teachers'" class="navbar-item"> Teachers </a>
  <a [routerLink]="'/orders'" class="navbar-item"> Orders </a>
  <a [routerLink]="'/order-items'" class="navbar-item"> All Ordered Items </a>
  <a [routerLink]="'/schools'" class="navbar-item"> Schools </a>
</nav>
<section class="section">
  <div class="container">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</section>