<div id="creator">
  <h1 class="title">
    Create School
  </h1>
  <form (ngSubmit)="onSubmit()" #schoolForm="ngForm">
    <div class="field">
      <label class="label required">Name</label>
      <div class="control">
        <input id="name" class="input" type="text" placeholder="Pittsburgh School" required
          [(ngModel)]="new_school.name" name="name" #school_name="ngModel">
      </div>
      <div *ngIf="school_name.touched && schoolExists()" class="notification is-danger">School with the same name
        already
        exists.</div>
    </div>

    <mat-dialog-actions>
      <div style="margin: 0 auto;">
        <button class="button is-danger" mat-dialog-close>Cancel</button>
        <button [disabled]="!school_name.touched || schoolExists()" type="submit" class="button is-info">Create
          School</button>
      </div>
    </mat-dialog-actions>
  </form>
</div>